.result-form-table__content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.result-form-table__command-column-content{
	padding-bottom: .5%;
	padding-top: .5%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: .15em solid dimgray;
	border-right: .15em solid dimgray;
	word-break: break-all;
}

.result-form-table__comment-column-content{
	padding-bottom: .5%;
	padding-top: .5%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: .15em solid dimgray;
	border-right: .15em solid dimgray;
}

.result-form-table__status-column-content{
	padding-bottom: .5%;
	padding-top: .5%;
	width: 73%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: .15em solid dimgray;
	border-right: .15em solid dimgray;
}

.result-form-table__status-column-content__ok{
	color: #4cb944;
}

.result-form-table__status-column-content__wait{
	color: #f2de00;
}

.result-form-table__status-column-content__fail{
	color: #f06543;
}

.result-form-table__result-column-content{
	padding-bottom: .5%;
	padding-top: .5%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: .15em solid dimgray;
	border-right: .15em solid dimgray;
}

.result-form-table__ltime-column-content{
	padding-bottom: .5%;
	padding-top: .5%;
	width: 73%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: .15em solid dimgray;
	border-right: .15em solid dimgray;
	word-break: break-all;
}

.result-form-table__ftime-column-content{
	padding-bottom: .5%;
	padding-top: .5%;
	width: 73%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: .15em solid dimgray;
	border-right: .15em solid dimgray;
	word-break: break-all;
}

.result-form-buttons{
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result-form-buttons__enter{
	width: 15em;
	margin-top: 2%;
	margin-right: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.2em;
	font-weight: 900;
	border: .05em solid #4cb944;
	background-color: #4cb944;
	color: #fbfaf8;
}

.result-form-buttons__enter:hover{
	box-shadow: .3em .3em .3em dimgray;
}

.result-form-buttons__refresh{
	width: 7em;
	margin-top: 2%;
	margin-left: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.2em;
	font-weight: 900;
	border: .05em solid #4cb944;
	background-color: #4cb944;
	color: #fbfaf8;
}

.result-form-buttons__refresh:hover{
	box-shadow: .3em .3em .3em dimgray;
}
